###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.pem
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
/var/cache/
###< doctrine/doctrine-bundle ###

# Environnement
.env
.env.dev
.env.test

# Docker
infra/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
